## Ejercicio 1

In [6]:
text = """Interesting facts about the Moon. The Moon is Earth´s only satellite. There are several interesting facts about the Moon and how is affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [7]:
text_parts = text.split('. ')
text_parts

['Interesting facts about the Moon',
 'The Moon is Earth´s only satellite',
 'There are several interesting facts about the Moon and how is affects life here on Earth',
 'On average, the Moon moves 4cm away from the Earth every year',
 'This yearly drift is not significant enough to cause immediate effects on Earth',
 'The highest daylight temperature of the Moon is 127 C.']

In [8]:
words = ['average', 'temperature','distance']

In [9]:
for sentence in text_parts:
    for word in words:
        if word in sentence:
            print(sentence)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [10]:
for sentence in text_parts:
    if 'C' in sentence:
        print(sentence.replace(' C', ' Celsius'))
        break

The highest daylight temperature of the Moon is 127 Celsius.

## Ejercicio 2

In [91]:
name = 'Luna'
gravity = 0.00162 #in km
planet = 'Tierra'

In [92]:
title = f'datos de gravedad en la {name}'

In [93]:
multiline = f"""Nombre del planeta: {planet}
... Gravedad en {name}: {round(gravity*1000,2)} m/s^2"""

In [94]:
datos = f"""{title.title()}
... {multiline}"""

print(datos)

Datos De Gravedad En La Luna
Nombre del planeta: Tierra
Gravedad en Luna: 1.62 m/s^2

In [123]:
name = 'Ganímedes'
gravity = 0.001428 #in km
planet = 'Marte'

In [124]:
print(multiline)

Nombre del planeta: Tierra
Gravedad en Luna: 1.62 m/s^2

In [125]:
new_datos = """Datos De Gravedad En {name}
Nombre del planeta: {planet}
Gravedad en Luna: {gravity} m/s^2"""

print(new_datos.format(name=name, gravity=round(gravity*1000,3), planet=planet))

Datos De Gravedad En Ganímedes
Nombre del planeta: Marte
Gravedad en Luna: 1.428 m/s^2